body {
    background-color: #f5f5f5;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.container {
    background-color: #fff;
}
@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}
header {
    padding-left: 0px !important;
}
header .logo {
    background-color: deepskyblue;
}
header .logo a img {
    /* width: 100%; */
    /* logo图片不需要缩放 */
    /* max-width: 100%;确保元素最大宽度不超过其父容器，
    但可以小于父容器的宽度，这对于创建流畅的响应式设计非常有用。 */
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
/* 在进入超小屏幕时，图片隐藏起来 */
/* 进入超小屏幕时，文字出现 */
header .logo span {
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
header .nav {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

/* 但进入超小和小屏幕时，nav里的li在一行显示 */
@media screen and (max-width: 991px) {
    header .nav li {
        float: left;
        width: 20%;
    }
    article {
        margin-top: 10px;
    }
}
/* 进入超小屏幕时，nav里的li在一行显示 */
@media screen and (max-width: 767px) {
    header .nav li {
        font-size: 11px;
    }
    article .news li {
        width: 50% !important;
    }
    article .news li:nth-child(1) {
        width: 100% !important;
    }
    header .nav a {
        padding-left: 10px !important;
    }
}
@media  screen and (min-width: 992px) {
    article .news li:nth-child(3),
    article .news li:nth-child(5) {
    padding-right: 0px;
}
}
header .nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 1.875rem;
}
header .nav a:hover {
    background-color: #fff;
    color: #333;
}
header .nav a::before {
    vertical-align: middle;
    margin-right: .3125rem;
    font-size: 18px;
}
article .news li {
    float: left;
    width: 25%;
    height: 128px;
    padding-right: 10px;
    margin-bottom: 10px;
}
article .news li:nth-child(1) {
    width: 50%;
    height: 266px;
}
article .news li a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
article .news li a img {
    width: 100%;
    height: 100%;
}
article .news li a p {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    margin-bottom: 0px;
    height: 41px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
}
article .news li:nth-child(1) p {
    line-height: 41px;
    font-size: 20px;
    padding: 0 10px;
}
.publish {
    border-top: 1px solid #ccc;
}
.publish .row {
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}
.publish .row .pic {
    margin-top: 10px;
    width: 100%;
}
aside .banner img {
    width: 100%;
}
aside .hot {
    margin-top: 20px;
    display: block;
    border: 1px solid #ccc;
    padding: 0px 10px;
}
aside .hot span {
    border-radius: 0px;
    margin-bottom: 20px;
}

