@font-face {
  font-family: "iconfont"; /* Project id 4363826 */
  src: url('iconfont.woff2?t=1701960445835') format('woff2'),
       url('iconfont.woff?t=1701960445835') format('woff'),
       url('iconfont.ttf?t=1701960445835') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qiehuan1x:before {
  content: "\e684";
}

.icon-shouye:before {
  content: "\10186";
}

.icon-ziliao:before {
  content: "\10187";
}

.icon-wode:before {
  content: "\10188";
}

