* {
    margin: 0;
    padding: 0;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
a { text-decoration: none; color: white;}
ul {list-style: none;}
div {
    display: inline-block;
}
body {
    height: 100vh;
    background-image: url('./images/main-view.webp');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: -248px 0px; */
    backdrop-filter: brightness(0.5);
}   
.top-nav {
    /* width: 1698px; */
    height: 100px;
    background: rgba(33, 42, 81, 0.516);
    display: flex;
    justify-content: space-between;
}
.name {
    width: 250px;
    height: 100px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.top-nav .name a {
    transition: all linear 0.2s;
}
.top-nav .name a:hover {
    color: deepskyblue;
    text-shadow: 0px 0px 20px deepskyblue;
}
.top-nav .top-nav-list li:nth-child(2) a:hover {
    color: white;
}
.top-nav .top-nav-list li:nth-child(2) {
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(90deg, #03a9f4, 
    #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;       
    z-index: 1;
    transition: all 0.2s linear;
}
.top-nav .top-nav-list li:nth-child(2):hover {
    animation: button 5s linear infinite alternate-reverse;
}
.top-nav .top-nav-list li:nth-child(2)::before {
    content: '';
    position: absolute;
    inset: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, 
    #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    opacity: 0;
}
.top-nav .top-nav-list li:nth-child(2):hover::before {
    filter: blur(20px);
    opacity: 1;
    animation: button 2s linear infinite;
}
@keyframes button {
    from {background-position: 0%;}
    to {background-position: 100%;}
}
.top-nav-list {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
}
.top-nav-list .button {
    font-size: 25px;
    margin-left: 30px;
    padding: 20px;
    position: relative;
    transition: all linear 0.2s;
}
.top-nav-list .button:nth-child(5) {
    padding: 0;
}
.top-nav-list .button:hover {
    background-color: deepskyblue;
    border-radius: 20px;
}

.top-nav .top-nav-list a:nth-child(2) {
    transition: all linear 0.2s;
    color: #50536e;
}
.top-nav .top-nav-list a:nth-child(2):hover {
    color: white;
}
.icon {
    font-size: 30px;
    color: black;
}
.container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.container .picture {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: url('./images/rem.webp');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 100px;
    cursor: pointer;
}
.container .content1, .content2, .content3 {
    color: #fff;
    font-size: 40px;
    position: absolute;
    transition: all 0.2s linear;
    cursor: pointer;
}
.container .content1 {
    top: 460px;
}
.container .content2 {
    top: 520px;
}
.container .content3 {
    top: 580px;
}
.container .content1:hover,
.container .content2:hover,
.container .content3:hover {
    color: deepskyblue;
    text-shadow: 0px 0px 50px deepskyblue;
    font-size: 50px;
}
.content5 {
    height: 600px;
    background: rgb(33, 35, 45);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content5 .left,.right {
    width: 600px;
    height: 400px;
    /* background-color: deepskyblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    box-shadow: inset 1px 1px 6px rgba(255, 255, 255, 0.3),
                2px 2px 15px rgba(0, 0, 0, 0.5);
    transition: all linear 0.2s;
}
.content5 .left:hover,.right:hover {
    box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.9),
                4px 4px 25px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(7px);
}
.content5 .text {
    color: #fff;
    font-size: 40px;
    vertical-align: middle;
}
.content5 .text .a1,
.content5 .text .a2,
.content5 .text .a3,
.content5 .text .a4 {
    transition: all 0.2s linear;
}
.content5 .text .a1:hover {
    color: deepskyblue;
    text-shadow: 0px 0px 20px deepskyblue;
}
.content5 .text .a2:hover {
    color: #C81D23;
    text-shadow: 0px 0px 20px #C81D23;
}
.content5 .text .a3:hover {
    color: #120606;
    text-shadow: 0px 0px 20px #120606;
}
.content5 .text .a4:hover {
    color: #FFEBD3;
    text-shadow: 0px 0px 20px #FFEBD3;
}
.content5 .left .bz .img-bz {
    width: 90px;
    height: 90px;
    background-image: url('./images/bilibili.webp');
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
}
.content5 .left .gitee .img-gitee {
    width: 90px;
    height: 90px;
    background-image: url('./images/gitee.webp');
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
}
.content5 .right .github .img-github {
    width: 90px;
    height: 90px;
    background-image: url('./images/github.webp');
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
}
.content5 .right .csdn .img-csdn {
    width: 90px;
    height: 90px;
    background-image: url('./images/csdn.webp');
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
}
.content5 .main-left,
.content5 .main-right {
    position: relative;
}
.content5 .circle span{
    position: absolute;
    border-radius: 50%;
}
.content5 .main-left .circle span:nth-child(1) {
    background: purple;
    top: -37px;
    left: -58px;
    width: 120px;
    height: 120px;
    box-shadow: 1px 1px 30px purple;
}
.content5 .main-left .circle span:nth-child(2) {
    background: cyan;
    top: 51px;
    left: 466px;
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 30px cyan;
}
.content5 .main-left .circle span:nth-child(3) {
    background: orange;
    top: 318px;
    left: 506px;
    width: 160px;
    height: 160px;
    box-shadow: 1px 1px 30px orange;
}
.content5 .main-left .circle span:nth-child(1) {
    animation: move1 ease-in-out 3s 1s infinite alternate;
}
.content5 .main-left .circle span:nth-child(2) {
    animation: move1 ease-in-out 4s infinite alternate-;
}
.content5 .main-left .circle span:nth-child(3) {
    animation: move1 ease-in-out 2.5s 0.5s infinite alternate;
}
@keyframes move1 {
    0% {transform: translateY(0);}
    100% {transform: translateY(-30px);}
}
.content5 .main-right .circle span:nth-child(1) {
    background: red;
    top: -36px;
    left: 69px;
    width: 130px;
    height: 130px;
    box-shadow: 1px 1px 30px red;
}
.content5 .main-right .circle span:nth-child(2) {
    background: green;
    top: 167px;
    left: 531px;
    width: 120px;
    height: 120px;
    box-shadow: 1px 1px 30px green;
}
.content5 .main-right .circle span:nth-child(3) {
    background: deepskyblue;
    top: 318px;
    left: 20px;
    width: 60px;
    height: 60px;
    box-shadow: 1px 1px 30px deepskyblue;
}
.content5 .main-right .circle span:nth-child(1) {
    animation: move2 ease-in-out 4s infinite alternate;
}
.content5 .main-right .circle span:nth-child(2) {
    animation: move2 ease-in-out 3s 1s infinite alternate-reverse;
}
.content5 .main-right .circle span:nth-child(3) {
    animation: move2 ease-in-out 4s 0.5s infinite alternate;
}
@keyframes move2 {
    0% {transform: translateY(0);}
    100% {transform: translateY(-35px);}
}







